
<div id="home-container" class="row">
    <div class="col-md-12">
        <h1>Convert your Markdown to HTML</h1>
        <p>Upload a Markdown file from your device and see it rendered as HTML and view the HTML code.</p>
        <form action="/Home/Viewer" method="post" enctype="multipart/form-data" >
            <div class="form-group">
                <label for="file">File</label>
                <input type="file" name="file" id="file" />
            </div>
            <button id="home-upload-button" type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Upload</button>
        </form>
    </div>
</div>